{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<style>
  #asterisk{
    float: right;
  }
  
  #profile_info{
    font-size: 20px;
  }

  #logout{
    /* right: 3%;
    position: absolute; */
    float: right;
  }

</style>
<title>{{ user.username }}</title> 

    <div class="content-section">
    <div class="media">
      <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
      <div class="media-body">
        <small class="text-muted" id="asterisk">*pre-view</small>
        <h2 class="account-heading" id='username_profile'>{{ user.username }}</h2>
        <p id="profile_info">{{ user.profile.info }}</p>
      </div>
    </div>
  </div>
<div>
  <div class="content-section">
    <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="mb-4">Profile Settings</legend>
              {{ u_form|crispy }}
              {{ p_form|crispy }}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-info" type="submit" id="update">Update</button>
              <a class="btn btn-outline-danger" id="logout" href="{% url 'logout' %}">Logout</a>
          </div>
      </form>                                 
  </div>   
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
<script>
  let image = document.querySelector("input[type=file]"); 
  image.style = "display: none; position:absolute";  
  let currently = document.querySelector("#div_id_image > div")
  currently.style = "display:none;";
  let label = document.querySelector("#div_id_image > label")
  $(label).html("<span style=color:--select-image><i class=material-icons>add_photo_alternate&nbsp</i>Select an image</span>");
  label.className = "btn btn-secondary";
  label.style = "margin-bottom: -8px;font-size: 20px;";
  // let allDiv = document.querySelector("#div_id_image");
  // $(allDiv).append("<span style='margin-bottom:-10px'>Image</span>")
</script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
    <script src="{% static 'js/fgEmojiPicker.js' %}" ></script>
    <script>
        let inputComment = document.querySelector("#div_id_info > div")
    $(inputComment).append("<button type=button class=emoji style=top:-30px;right:5px;float:right;position:relative;>😎</button>")
</script>

<script>
  new FgEmojiPicker({
            trigger: ['.emoji'],
            position: ['bottom', 'right'],
            dir: '/static/js/',
            emit(obj, triggerElement) {
                const emoji = obj.emoji;
                document.querySelector('#id_info').value += emoji;
                
            }
        });
</script>
{% endblock %}