{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <title>Create an Article !</title>
    <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Blog Post</legend>
                {{ form|crispy }}
               
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Post</button>
            </div>
        </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
    <script src="{% static 'js/fgEmojiPicker.js' %}" ></script>
    <script>
    let inputComment = document.querySelector("#div_id_comment_text > div")
    $(inputComment).append("<button type=button class=emoji style=top:-30px;right:5px;float:right;position:relative;>😎</button>")
</script>

<script>
  new FgEmojiPicker({
            trigger: ['.emoji'],
            position: ['bottom', 'right'],
            dir: '/static/js/',
            emit(obj, triggerElement) {
                const emoji = obj.emoji;
                document.querySelector('#id_comment_text').value += emoji;
                
            }
        });
</script>
{% endblock %}

