@media (prefers-color-scheme: dark){
.theme-light {
  --color-primary: #ffffff;
  --color-secondary: #fbfbfe;
  --color-accent: #fd6f53;
  --font-color: #000000;
  --image-opacity: 1;
  --border-color: #d3d3d3;
  --color-hovered: #428bca;
  --color-author: #0060FF;
  --color-author-h: black;
  --text-secondary: #6c757d;
  --select-image: #ffffff;
  --input-borders: 1px solid #ced4da;
  --emoji-back-color: grey;
}
}

@media (prefers-color-scheme: dark){
.theme-dark {
  --color-primary: #002B36;
  --color-secondary: #1B2645;
  --color-accent: #12cdea;
  --color-author: #8BAFE1;
  --font-color:  #eee8d5e8; /*#6b96ca */
  --color-hovered: #e4dab8f1;
  --image-opacity: 0.9;
  --image-filter: brightness(.8) contrast(1.2);
  --pgntr-btn-opacity: 0.8; 
  --border-color: #8a8a8a;
  --text-area-background: #43567F;
  --color-author-h: #eee8d5e8; 
  --text-secondary: #eee8d5cc;
  --select-image: #eee8d5e8;
  --input-borders: none;
  --emoji-back-color: #43697F;
}
}

body {
  background-color: var(--color-secondary) !important;
  color: var(--font-color) !important;
  margin-top: 5rem !important;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--font-color) !important;
}

ul {
  margin: 0;
}

img{
  opacity: var(--image-opacity);
  filter: var(--image-filter);
  border-radius: 5px;
}

legend{
  border-bottom: 1px solid var(--border-color) !important;
}

hr{
  border-top: 1px solid var(--border-color) !important ;
  opacity: 0.8;
}

.img_article {
  opacity: var(--opacity);
  max-width: 90%;
  max-height: 700px;
  position: relative;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: var(--color-primary);
  padding: 10px 20px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  margin-bottom: 20px;
  position: relative;
}

.article-title {
  color: var(--font-color);
  word-wrap:break-word !important;
}

a.article-title:hover{
  color: var(--color-hovered);
  text-decoration: none;
}

#sidebar_links{
  color: #333;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 17px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid var(--border-color);
}

#author_name:hover{ 
  color: var(--color-author-h);
  text-decoration: none;
}

#author_name{
  color: var(--color-author);
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

#sidebar{
  position: fixed;
  width: 20rem;
  top: 8rem;
}

#sidebar #list-item{
  background: var(--color-primary) !important;
  color: var(--font-color) !important;
  border: 1px solid var(--border-color);
}

#theme-button{
  background-color: #5F788A;
  border: none;
  color: rgba(255,255,255,.7);;
}

#theme-button:focus{
  outline: none;
}

button{
  opacity: var(--pgntr-btn-opacity);
}

  textarea, input, select{
    background: var(--text-area-background) !important;
    color: var(--font-color) !important;
    border: var(--input-borders) !important;
  }

  #profile_info{
    color: var(--text-secondary);
  }

  .emoji{
    border: none;
    border-radius: 5px;
    background: var(--emoji-back-color);
    display: inline;
    position: absolute;
    transition: transform 0.3s;
  }

  .emoji:focus{
    outline: none;
    transform: scale(1.18);
  }

#scrollToTop {
        display: inline-block;
        background-color: #FF9800;
        width: 50px;
        height: 50px;
        text-align: center;
        border-radius: 4px;
        position: fixed;
        bottom: 30px;
        right: 30px;
        transition: background-color .3s,
         opacity .5s, visibility .5s;
        opacity: 0;
        visibility: hidden;
        z-index: 1000;
        border: none;
      }
      #scrollToTop::after {
        content: "▲"; /*\f077*/
        font-family: 'FontAwesome';
        font-weight: normal;
        font-style: normal;
        font-size: 2em;
        line-height: 50px;
        color: var(--font-color);
      }
      #scrollToTop:hover {
        cursor: pointer;
        background-color: #333;
      }
      #scrollToTop:active {
        background-color: #555;

      }
      #scrollToTop.show {
        opacity: var(--image-opacity);
        visibility: visible;
      }

      #scrollToTop:focus{
        outline: none;
      }