{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<title class="title">{{ view.kwargs.username }}</title>
<style>
  #info{
    font-size: 20px;
  }
  #asterisk{
    float: right;
  }
</style>
  
{% for a in user_articles %}
  <div class="content-section" id="profile">
    <div class="media">

      <img class="rounded-circle account-img" src="{{ a.author_article.profile.image.url }}">
      <div class="media-body">
        <h1 class="account-heading">{{ a.author_article.username }}</h1>
        <!-- <p class="text-dark">{{ a.author_article.email }}</p> -->
        <p class="text-secondary" id="info">{{ a.author_article.profile.info }}</p>
      </div>
    </div>
  </div>
{% endfor %}
<h2 class="mb-5">{{ view.kwargs.username }}'s posts <small><strong>
  ({{ page_obj.paginator.count }})</strong></small>
</h2>                                 

{% if user_articles %}
  {% for a in user_articles %}


  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ a.author_article.profile.image.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{% url 'articles:user_articles' a.author_article.username %}">{{ a.author_article }}</a>
        <!--"% url 'profile_for_others' user_id %"-->

        <small class="text-muted">{{ a.pub_date }}</small>

              <small class="text-muted" id="asterisk">
                *click on title of article to see details</small>
      </div>
    <h2><a class="article-title" href="{% url 'articles:detail' slug=a.slug %}">
      {{ a.article_title }}</a></h2>
    <p class="article-content">{{ a.article_text }}</p>
    </div>
  </article>

  {% endfor %}
{% else %}
    No articles found )=
{% endif %}

{% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}

{% endblock %}